.projects {
  padding: 10rem;
  position: relative;
  padding-bottom: 0;
}

.projects_header {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  letter-spacing: -1.6px;
  text-transform: capitalize;
  line-height: 4.5rem;
  margin-bottom: 3rem;
  z-index: 1;
  position: relative;
  pointer-events: all;
}

.projects_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

.project {
  z-index: 1;
  position: relative;
  pointer-events: all;
}

.project_uneven {
  transform: translateY(10%);
}

.project_image {
  filter: grayscale(100%);
  width: 100%;

  &:hover {
    filter: none;
  }
}

.project_title {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 0.7rem;
  font-weight: 700;
}

.project_tags {
  display: flex;
  margin-bottom: 1rem;
}

.project_tag {
  font-size: 0.8rem;
  border-radius: 9999px;
  margin-right: 0.4rem;
  font-style: italic;
  font-family: 'Playfair Display', serif;
}

.project_description {
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 0.7rem;
}

.project_website {
  display: flex;

  svg {
    height: 24px;
    width: 24px;
    transition: 250ms all ease;
    cursor: pointer;
    fill: white;
    margin-right: 0.5rem;
  }

  &:hover svg {
    transform: rotate(180deg);
  }
}

.project_largeText {
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  letter-spacing: -1.6px;
  text-transform: capitalize;
  line-height: 4.5rem;
  margin-bottom: 1rem;
}