.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  background-image: linear-gradient(#fbe773, #44E5E7, #59D2FE, #A997DF);
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
}

.spinner1 {
  background-color: rgb(0, 0, 0);
  width: 95px;
  height: 95px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}