main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  display: flex;
  flex-direction: column;
  z-index: 1;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
}

.intro_title {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  letter-spacing: -3.2px;
  text-transform: capitalize;
  text-align: center;
  line-height: 4.5rem;
}

.intro_left {
  text-align: left;
  line-height: 2rem;
}