@import '../../variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  text-wrap: nowrap;

  @media (max-width: $breakpoint-small) {
    flex-direction: column;
    height: 100px;
  }
}

.header_border {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 1px;
  background-color: #ffffff28;
}

.header_logo {
  font-family: 'Playfair Display', serif;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1rem;
  transform: translateY(-2%);
  z-index: 1;
  position: relative;
  pointer-events: all;
  cursor: pointer;

  @media (max-width: $breakpoint-small) {
    padding-bottom: 0.5rem;
  }
}

.nav_links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
  pointer-events: all;
}

.nav_link {
  font-size: 0.9rem;
  font-style: italic;
  position: relative;
  margin: 0.5rem;
  cursor: pointer;

  @media (max-width: $breakpoint-small) {
    margin: 0.5rem;
    margin-top: 0;
  }

  &:after {
    content: "";
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

  &:hover:after {
    width: 100%;
    left: 0%;
  }
}