.header {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header_logo {
  padding: 1rem;
  font-family: Playfair Display;
  font-size: 1.25rem;
  font-weight: 700;
  transform: translateY(-2%);
  // letter-spacing: -0.96px;
  cursor: pointer;
}

.nav_links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #FFF;
  font-size: 1rem;
  line-height: normal;
  text-transform: uppercase;
  font-weight: 400;
}

.nav_link {
  cursor: pointer;
  padding: 1rem;

  &:hover {
    font-weight: 700;
    border: 1px solid white;
    border-radius: 50px;
  }
}