.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 90px;
}

.header_logo {
  font-family: 'Playfair Display', serif;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1rem;
  transform: translateY(-2%);
  z-index: 1;
  position: relative;
  pointer-events: all;
  cursor: pointer;
}

.nav_links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
  pointer-events: all;
}

.nav_link {
  cursor: pointer;
  padding: 1rem;
}