.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 90px);
}

.intro_header {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  text-align: right;
  pointer-events: all;
  z-index: 1;
  position: relative;
}

.intro_title {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  letter-spacing: -3.2px;
  text-transform: capitalize;
  line-height: 4.5rem;
}

.intro_left {
  text-align: left;
  line-height: 2rem;
}

.intro_info {
  margin-top: 8rem;
  max-width: 700px;
  text-align: center;
  text-transform: uppercase;
  pointer-events: all;
  position: relative;
  z-index: 1;
}