:root {
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: inherit;
}

a {
  color: white;
  text-decoration: inherit;
}

ul {
  list-style: none;
}

body {
  color: white;
  background-color: black;
}

// fix later
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  // background-image: url('./assets/bg.png');
}

.loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  z-index: 1000;
}

.noise {
  position: fixed;
  z-index: 9999;
  top: -300%;
  left: -150%;
  height: 600%;
  width: 600%;
  background-image: url('../public/assets/noise.png');
  background-size: 200px;
  background-repeat: repeat;
  opacity: 0.2;
  pointer-events: none;
}

// ::selection {
//   background-color: rgb(162, 176, 255);
//   color: #030202;
// }

/* custom scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 0.6);
}

::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}

.scroll_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  will-change: transform;
  z-index: 2;
  pointer-events: none;
}