.link {
  font-style: italic;
  font-family: 'PlayfairDisplay', serif;
}

.link_large {
  font-size: 2rem;
  font-style: italic;
  font-family: 'PlayfairDisplay', serif;
  border-bottom: 1px solid white;
}

.link_normal {
  font-size: 1rem;
}