@import '../../variables';

.aboutMe {
  padding: 10rem;
  align-self: flex-start;

  @media (max-width: $breakpoint-extraLarge) {
    padding: 5rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  @media (max-width: $breakpoint-large) {
    padding: 3rem;
    padding-top: 10rem;
    padding-bottom: 5rem;
  }

  @media (max-width: $breakpoint-medium) {
    padding: 2rem;
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
}

.aboutMe_header {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-transform: uppercase;
  pointer-events: all;

  @media (max-width: $breakpoint-small) {
    font-size: 0.8rem;
  }
}

.aboutMe_title {
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  letter-spacing: -3.2px;
  text-transform: capitalize;
  line-height: 4.5rem;
  text-wrap: nowrap;

  @media (max-width: $breakpoint-extraLarge) {
    font-size: 3.5rem;
  }

  @media (max-width: $breakpoint-small) {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  @media (max-width: $breakpoint-extraSmall) {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

.aboutMe_left {
  line-height: 1.5rem;
}

.aboutMe_text {
  margin-top: 3rem;
  max-width: 600px;
  z-index: 1;
  position: relative;
  pointer-events: all;

  // @media (max-width: $breakpoint-extraLarge) {
  //   max-width: 800px;
  // }

  // @media (max-width: $breakpoint-large) {
  //   max-width: 600px;
  // }

  // @media (max-width: $breakpoint-medium) {
  //   max-width: 600px;
  // }
}